
body {
   background-color: rgb(218, 238, 230);
}

h2 {
   text-align: center;
}

ul {
   display: flex;
   justify-content: center;
   padding: 0;
}

.buttonLink {
   text-decoration: none;
   color: rgb(23, 124, 23);
   font-weight: 600;
}

li {
   list-style-type: none;
   padding: 5px;
   border: 2px solid #000;
   border-radius: 5px;
   margin: 20px;
}

table {
   border: 1px solid #000;
   margin: auto;
   background-color: rgb(237, 245, 235);
}

th {
   border: 1px solid #000;
}

td {
   border: 1px solid #000;
   text-align: center;
}

div {
   margin: 0 auto;
}